<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Chào mừng đến với TheBooking.vn</title>

</head>
<body>
  
    <table cellpadding="0" cellspacing="0" style="color: rgb(34, 34, 34); font-style: normal; font-variant: normal; font-weight: normal; letter-spacing: normal; line-height: normal; orphans: auto; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: auto; word-spacing: 0px; -webkit-text-stroke-width: 0px; margin: 0px auto; font-family: arial; font-size: 12px; background-color: rgb(255, 255, 255);" width="600">
        <tr>
            <td style="font-family: arial, sans-serif; margin: 0px;">
                <table cellpadding="0" cellspacing="0" style="margin: 30px 0px 20px;" width="97%">
                    <tr>
                        <td align="right" style="font-family: arial; margin: 0px; font-size: 12px;">
                        <img src="http://thebooking.vn/nhaplieuspa/resources/front/images/logo-thebookingspa.png" width="200"/></td>
                  </tr>
                    <tr>
                        <td style="font-family: Arial; margin: 0px; font-weight: bold; font-style: normal; font-variant: normal; font-stretch: normal; font-size: 20px; line-height: 30px; color: red;">Chào mừng đến với TheBooking.vn</td>
                    </tr>
                    <tr>
                        <td style="font-family: arial; margin: 0px; font-size: 12px;">Chào bạn<span class="Apple-converted-space">&nbsp;</span><strong>[FullName]</strong></td>
                    </tr>
                    <tr>
                        <td style="font-family: arial; margin: 0px; font-size: 12px;">Cảm ơn bạn đã tham gia và đăng ký thành viên tại <a href="http://www.thebooking.vn" style="color: rgb(0, 114, 204); font-weight: bold; font-style: italic;" target="_blank"><span class="il" style="color: rgb(34, 34, 34); background: rgb(255, 255, 204);">TheBooking</span>.vn</a><br />
                            Bạn đã đăng ký thành công với thông tin như sau:</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr bgcolor="#f1f1f1">
            <td style="font-family: arial, sans-serif; margin: 0px;">
                <table cellpadding="1" cellspacing="1" style="margin: 10px;" width="97%">
                    <tr>
                        <td style="font-family: arial; margin: 0px; padding: 2px 8px 0px 15px; font-size: 12px;" width="30%">Email đăng ký/Tên đăng nhập:(*)</td>
                        <td style="font-family: arial; margin: 0px; padding: 5px; font-size: 12px;"><strong>[UserID]</strong></td>
                    </tr>
                    <tr bgcolor="#FFFFCC">
                        <td style="font-family: arial; margin: 0px; padding: 2px 8px 0px 15px; font-size: 12px;" width="30%">Họ tên:</td>
                        <td style="font-family: arial; margin: 0px; padding: 5px; font-size: 12px;"><strong>[Object_FullName]</strong></td>
                    </tr>
                    <tr bgcolor="#ffffff">
                        <td style="font-family: arial; margin: 0px; padding: 2px 8px 0px 15px; font-size: 12px;" width="30%">Điện thoại:</td>
                        <td style="font-family: arial; margin: 0px; padding: 5px; font-size: 12px;"><strong>[Tel]</strong></td>
                    </tr>
                    <!--<tr bgcolor="#ffffff">
                        <td style="font-family: arial; margin: 0px; padding: 2px 8px 0px 15px; font-size: 12px;" width="30%">Thông tin người đặt:</td>
                        <td style="font-family: arial; margin: 0px; padding: 5px; font-size: 12px;"><strong>[BookedBy]</strong></td>
                    </tr>-->
                   <!-- <tr bgcolor="#FFFFCC">
                        <td style="font-family: arial; margin: 0px; padding: 2px 8px 0px 15px; font-size: 12px;" width="30%">Lưu ý về đặt chỗ:</td>
                        <td style="font-family: arial; margin: 0px; padding: 5px; font-size: 12px;"><strong>[Booking_Note]</strong></td>
                    </tr>-->
                    <tr bgcolor="#FFFFCC">
                        <td style="font-family: arial; margin: 0px; padding: 2px 8px 0px 15px; font-size: 12px;" width="30%">Link kích hoạt tài khoản</td>
                        <td style="font-family: arial; margin: 0px; padding: 5px; font-size: 12px;"><strong><a href="[Link_Active]" target="_blank">Nhấn đây để active</a></strong></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr bgcolor="#ffffff">
            <td height="30" style="font-family: arial, sans-serif; margin: 0px;">&nbsp;</td>
        </tr>
        <tr bgcolor="#f1f1f1">
            <td style="font-family: arial, sans-serif; margin: 0px;">
                &nbsp;</td>
        </tr>
        <tr>
            <td height="20" style="font-family: arial, sans-serif; margin: 0px;">&nbsp;</td>
        </tr>
        <tr>
            <td style="font-family: arial, sans-serif; margin: 0px;">(*)Email đăng ký chưa được kích hoạt xin vui lòng kích hoạt ở link kích hoạt tài khoản.<br />
                <br />
            </td>
        </tr>
        <tr>
            <td style="font-family: arial, sans-serif; margin: 0px;">Cơ hội đặt chỗ spa giảm giá <span class="Apple-converted-space">&nbsp;</span>
                <a href="http://www.thebooking.vn" style="color: rgb(17, 85, 204);" target="_blank">
                    <span class="il" style="color: rgb(34, 34, 34); background: rgb(255, 255, 204);">TheBooking</span>.vn</a><span class="Apple-converted-space">&nbsp;</span>tham gia ngay tại<span class="Apple-converted-space">&nbsp;</span><a href="http://www.thebooking.vn" style="color: rgb(17, 85, 204);" target="_blank">đây</a>.<br />
                <br />
            </td>
        </tr>
        <tr>
            <td style="font-family: arial, sans-serif; margin: 0px;"><span class="Apple-converted-space">&nbsp;</span>Mọi thông tin thắc mắc xin liện hệ tổng đài<span class="Apple-converted-space">&nbsp;</span><strong>[TongDaiHotLine]</strong><span class="Apple-converted-space">&nbsp;</span>hoặc<span class="Apple-converted-space">&nbsp;</span><strong>[EmailHotLine]</strong<br />
                <br />
                Trân trọng,<br />
                <a href="http://www.thebooking.vn" style="color: rgb(0, 114, 204); font-weight: bold; font-style: italic; font-family: arial; font-size: 12px;" target="_blank"><span class="il" style="color: rgb(34, 34, 34); background: rgb(255, 255, 204);">TheBooking</span>.vn</a><br />
            </td>
        </tr>
    </table>
  
</body>
</html>
